{% extends "base.html" %}
{% block title %} TrainerHome {% endblock %}

{% block content %}
<!-- homepage for trainers -->
  
<div class="trainerImg"> </div>
<p class="testimonial"> We Value our Customers</p>
<div class="container testimonial-container">
    <img class="person" src="static/person.png" alt="person"> 
    <q class="quotes">LU gym is where I can find everything I need 
        to improve my physical & mental health to achieve my goals and dreams. 
        The staff are legendary & the Ride and Power classes are priceless 
         - constantly reliable in quality, intensity, and effectiveness! Due to the fantastic music, 
         the ever-changing choreography, and the amazing vibe of the community, it is an essential part of my everyday routine--Tunde Banfalvi</q> <br/>
</div>

 
    
{% endblock %}